body {
	background-color: $beige;
}
.article{
	margin-top:1em;
	@include span-columns(8);
	@include shift(2);
	background-color: $gray;

	
	.banner{

		margin-top:1em;
		height: 15em;
		margin-right:auto;
		margin-left:auto;
		text-align: center;
		float:center;
		@include span-columns(12 of 12);

		background-position: center;

	}
	h2 {
		text-align: center;
		@include span-columns(12 of 12);
		font-size: 3em;
		font-family: $font4;
		color: $gray;
		margin: 0em 0 0 0;
		z-index:100;
		background-color:$beige;
	}
	.date{

		margin:0;
		text-align:right;
		font-family: $font1;
		color: $blue;
		@include span-columns(11 of 12);

	}

	
	.tag {

		margin:0;
		text-align:right;
		font-family: $font3;
		font-size: 1em;
		color: $purple;
		@include span-columns(11 of 12);


	}
	.content{

		margin-left:2em;
		font-family: $font5;
		font-size: 1em;
		color: $purple;
		@include span-columns(11 of 12);

	}
	img{

		width: 10em;

	}
}

#edit-form{
	display:none;

}