
.top-nav {

	top: 0;
	background-color: $gray;
	//background-image: url("http://www.fletchergranite.com/Images/GranitePhotos8x8/KITLEDGE_GREY_THERMALED_8x8.jpg") ;
	font-family: $font4;
	padding: 0;
	margin: 0;
	height:3em;

	h1 {
		padding: 0;
		padding-top:5px;
		margin: 0;
		@include shift(1);
		letter-spacing: 2px;
	}

	a{
		margin:0;
		text-decoration:none;
		color: $blue;
	}
	a:visited{
		color: $blue;
	}
	a:hover{
		color: $bluetwo;
	}

}