$beige: #C1B398;

$gray: #DAD6CA;

$yellow: #FBEEC2;

$blue: #1BB0CE;
$bluetwo: #4F8699;

$purple: #6A5E72;
$purpletwo: #563444;


$green: #ACCEC0;

$font1: 'PT Sans', sans-serif;

$font2: 'Overlock SC', cursive;

$font3: 'Supermercado One', cursive;

$font4: 'Numans', sans-serif;

$font5: 'Alegreya SC', serif;