
$beige: #C1B398;

$gray: #605951;

$yellow: #FBEEC2;

$blue: #61A6AB;

$green: #ACCEC0;

$font1: 'Simonetta', cursive;

$font2: 'Unna', serif;


$font3: 'Supermercado One', cursive;


$font4: 'Numans', sans-serif;

$font5: 'Alegreya SC', serif;
