<button id="btn-add-article" >+</button>
<form id="create-article">
  <h2>create a new article</h2>
  <input placeholder="title" ng-model="newArticle.title">
  <input placeholder="tags" ng-model="newArticle.tag">
  <textarea placeholder="article content" ng-model="newArticle.content"></textarea>
  <input placeholder="image url" ng-model="newArticle.imageUrl">
  <br>
  <button ng-click="articles.push(newArticle)">Add</button>
  <button ng-click="removeAll()">Remove All</button>
  <button id="close-form" >close</button>
</form>
<ul class="articles-repeat">

  <li ng-repeat="article in articles" class="card">
    <div class="left-card">
      <a href="/articles/{{article._id}}">{{article.title}}</a>
      <p class="tag">{{article.tag}}</p>
      <p class="content">{{article.content | limitTo: 105}} ...</p>
      <button class="btn-delete" ng-click="remove(article)">X</button>
    </div>
    <div class="card-image">
      <img src="{{article.imageUrl || 'http://www.americangranitestone.com/stoneimages/SpringWhiteGranite.jpg' }}" >

    </div>
        
  </li>
</ul>